body {
    margin: 0;
    padding: 0;
    cursor: url(img/iconmonstr-cursor-5-120.png), auto;
}

div {
    background-image: url(img/background-1-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

div::after {
    background-color: #000;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    opacity: .9;
}

div p {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    z-index: 9999999;
}